{
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "react",
    "flowtype",
    "import",
    "jest"
  ],
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "quotes": [2, "single", {
      "allowTemplateLiterals": true
    }],
    "react/prop-types": 0,
    "react/jsx-no-bind": 1,
    "react/display-name": 0,
    "react/prefer-stateless-function": 1,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/no-unused-prop-types": 0,
    "new-cap": 0,
    "no-class-assign": 1,
    "object-curly-spacing": [1, "always"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "indent": [2, 2],
    "linebreak-style": [0],
    "import/no-unresolved": [2, {
      "commonjs": true
    }],
    "import/no-extraneous-dependencies": ["error", {"peerDependencies": true}],
    "import/first": 2,
    "import/named": 2,
    "import/default": 2,
    "import/namespace": 2,
    "import/export": 2,
    "max-len": ["warn", 150],
    "no-console": 1,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", {
      "aspects": ["invalidHref"]
    }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/parser": "babel-eslint",
    "import/resolve": {
      "extensions": [
        ".js",
        ".jsx",
        ".json"
      ]
    }
  },
}
